apiVersion: apps/v1
kind: Deployment

metadata:
  name: upload-server-deployment
  namespace: upload-server

spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 20%
      maxUnavailable: 10%
  replicas: 3
  selector:
    matchLabels:
      app: upload-server
  template:
    metadata:
      labels:
        app: upload-server
    spec:
      containers:
        - name: upload-server
          image: eullerbraz/upload-server:34774b1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3333
          envFrom:
            - configMapRef:
                name: upload-server-cm
          env:
            # - name: CLOUDFLARE_BUCKET
            #   valueFrom:
            #     configMapKeyRef:
            #       name: upload-server-cm
            #       key: CLOUDFLARE_BUCKET
            # - name: CLOUDFLARE_PUBLIC_URL
            #   valueFrom:
            #     configMapKeyRef:
            #       name: upload-server-cm
            #       key: CLOUDFLARE_PUBLIC_URL

            - name: DATABASE_URL
              value: 'postgresql://docker:docker@localhost:5432/upload'
            - name: CLOUDFLARE_ACCOUNT_ID
              value: '#'
            - name: CLOUDFLARE_ACCESS_ID
              value: '#'
            - name: CLOUDFLARE_SECRET_ACCESS_KEY
              value: '#'
            # - name: CLOUDFLARE_BUCKET
            #   value: 'upload-server'
            # - name: CLOUDFLARE_PUBLIC_URL
            #   value: 'https://pub-#.r2.dev'

          startupProbe:
            httpGet:
              path: /health
              port: 3333
            failureThreshold: 3
            successThreshold: 1
            timeoutSeconds: 1
            periodSeconds: 15
            initialDelaySeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 3333
            failureThreshold: 3
            successThreshold: 1
            timeoutSeconds: 1
            periodSeconds: 15
            initialDelaySeconds: 15
          livenessProbe:
            httpGet:
              path: /health
              port: 3333
            failureThreshold: 2
            successThreshold: 1
            timeoutSeconds: 1
            periodSeconds: 15
            initialDelaySeconds: 15
          resources:
            requests:
              cpu: '200m'
              memory: '256Mi'
            limits:
              cpu: '300m'
              memory: '384Mi'
