apiVersion: v1
kind: Pod

metadata:
  name: upload-server
  namespace: upload-server

spec:
  containers:
    - name: upload-server
      image: eullerbraz/upload-server:34774b1
      imagePullPolicy: IfNotPresent
      ports:
        - containerPort: 3333
      env:
        - name: DATABASE_URL
          value: 'postgresql://docker:docker@localhost:5432/upload'
        - name: CLOUDFLARE_ACCOUNT_ID
          value: '#'
        - name: CLOUDFLARE_ACCESS_ID
          value: '#'
        - name: CLOUDFLARE_SECRET_ACCESS_KEY
          value: '#'
        - name: CLOUDFLARE_BUCKET
          value: 'upload-server'
        - name: CLOUDFLARE_PUBLIC_URL
          value: 'https://pub-#.r2.dev'
      resources:
        requests:
          cpu: '200m'
          memory: '256Mi'
        limits:
          cpu: '300m'
          memory: '384Mi'
